@using SecuritySite.Models;
@model AccountInfo
<h1 class="left-margin blue">@Model.Name</h1>
<form>

<div class="left-padding overview-grid">
        @*General Info*@

       
        <div>
            <p>Monitored Accounts: </p>
        <p>@Model.Accounts</p> 
        </div>
        <div>
            <p>Email:</p>
            <input type="text" value="@Model.Email" />
        </div>

        <div>
            <p>Phone Number: </p>
            <input type="text" value="@Model.PhoneNumber" />
        </div>
        <div>
            <p>Billing address:</p>
            <input type="text" value="@Model.Address" />
        </div>

        <div>
            <p>City:</p>
            <input type="text" value="@Model.City" />
        </div>
        <div>
            <p>County:</p>
            <input type="text" value="@Model.County" />
        </div>

        <div>
            <p>Zipcode:</p>
            <input type="text" value="@Model.ZipCode" />
        </div>
        <div>
            <p>State:</p>
            <input type="text" value="@Model.State" />
        </div>


    </div>
    <p class="left-margin">Submit edits below</p>
    <button class="left-margin submit" type="submit">Update</button>

</form>

    <br/>
<div class="left-padding billing-summary">
    @*Summarized Billing Info*@
        <p>Current Monthly Cost: $@(Model.MonthlyCost)</p>
        <p>Last Months Bill: $@(Model.LastBill)</p>
        <p>Next Billing Date: @Model.BillDate.ToShortDateString()</p>
    </div>


<div class="invoice-padding">
    <h1>Latest Invoice</h1>
    @if (Model.Invoice !=null)
    {
        <div class="invoice-grid">
            @*Latest Invoice*@
            <div>
                <p>Bill To: @(Model.Invoice.Name)</p>
                <p>Accounts: @Model.Invoice.Accounts</p>
                <p>Billing Address: @Model.Invoice.Address</p>
            </div>

            <div>
                <p class="center-content">Charged To:<br /><br /> XXXX@(Model.Invoice.CardEnding)</p>
            </div>

            <div>
                <p class="center-content">Charged:<br /><br /> $@(Model.Invoice.Price)</p>
            </div>

        </div>
        <a class="view-invoice">View Full</a>
    }


</div>

