@page "{accountId?}"
@model SecuritySite.Pages.Account.New.FeaturesModel
@{
}

<h1>@Model.account.locationName</h1>
@*Current Features*@
<div>
    <h2>Base Plan</h2>
    @foreach (var feature in Model.accountFeatures)
    {
        <div class="account-addon-card">
            <p>@feature.FeatureName</p>
            <p>@feature.Price</p>
        </div>
    }

</div>

<div>
    <form asp-page="Features">
        <input type="hidden" asp-for="accountId" value="@Model.accountId" />
        <input asp-for="test" />
        @foreach (var feature in Model.availableFeatures)
    {
        <div>
            <p>@feature.FeatureName</p>
            <p>@feature.Description</p>
            <p>@feature.Price</p>
            <select name="selectedFeatures" id="selectedFeatures">
                <option value="">No</option>
                <option value="@feature.Code">Yes</option>
            </select>
        </div>
    }

    <button type="submit">Review</button>
    </form>

</div>